---
import { DecTag, projectsData } from '@nilswg-site/ui';
import ProjectCard from '@/components/ProjectCard.astro';
import SectionTexts from '@/components/SectionTexts.astro';
import VerticalFrame from '@/components/VerticalFrame.astro';
---

<section id="projects" class="bg-myblack w-full py-navbar">
    <VerticalFrame>
        <SectionTexts
            i18nKeys={{
                title: 'home:projects.title',
                texts: 'home:projects.texts',
            }}
        />
        <DecTag className="ml-6">{'<div class="grid">'}</DecTag>
    </VerticalFrame>
    <div class="flex w-full flex-col items-center self-center">
        <div class="xs:px-9 grid max-w-4xl grid-cols-1 gap-10 px-0 py-5 lg:grid-cols-2 2xl:max-w-full 2xl:grid-cols-3">
            {
                projectsData.map((proj, i) => (
                    <ProjectCard
                        tags={proj.tags}
                        title={proj.title}
                        description={proj.description}
                        demo={proj.demo}
                        github={proj.github}
                        preview={proj.preview}
                    />
                ))
            }
        </div>
    </div>
    <VerticalFrame>
        <DecTag className="ml-6">{'</div>'}</DecTag>
    </VerticalFrame>
</section>
