---
import type { Experience } from '@nilswg-site/ui';
import { Resume } from '@nilswg-site/ui';
import { getI18nObjects, getI18nTextArray } from '@nilswg/i18n';
import { Image } from 'astro:assets';
import { t } from 'i18next';
import headShot from 'public/img/headshot.jpg';
import { ResumeDownloadButton } from '@nilswg-site/ui';

const experience = {
    title: t('home:experience.title'),
    items: getI18nObjects<Experience>(t, 'home:experience-timeline'),
};
const resume = {
    profileTexts: getI18nTextArray(t, 'resume:profileTexts'),
    name: t('resume:name'),
    jobTitle: t('resume:jobtitle'),
    address: t('resume:address'),
    social: t('resume:social'),
    profile: t('resume:profile'),
    skills: t('resume:skills'),
    certificates: t('resume:certificates'),
    languages: t('resume:languages'),
};

const lang = t('common:lang');
const prompt = t('common:enter_password');
const errorDict = t('common:errorDict', { returnObjects: true }) as Record<string, string>;
---

<div class="relative mx-auto min-h-[1122px] max-w-[830px] overflow-hidden bg-[#FCFCFC] shadow-[0_-1px_4px_rgba(0,0,0,.1)]">
    <ResumeDownloadButton prompt={prompt} lang={lang} errorDict={errorDict} client:load />
    <div class="flex w-full justify-center">
        <Resume>
            <div class="w-full bg-[#F0EFEF]">
                <div class="mx-4">
                    <Resume.Information lang={lang} name={resume.name} jobTitle={resume.jobTitle} address={resume.address}>
                        <Image
                            class="h-full w-full rounded-full object-cover object-center"
                            src={headShot}
                            alt="head shot"
                            width={464}
                            height={349}
                        />
                    </Resume.Information>
                    <Resume.Social lang={lang} title={resume.social} />
                    <Resume.Profile lang={lang} title={resume.profile} profileTexts={resume.profileTexts} />
                </div>
            </div>
            <div class="w-full bg-[#FCFCFC]">
                <div class="mx-6">
                    <Resume.Experience lang={lang} title={experience.title} experiences={experience.items} />
                    <Resume.Skills lang={lang} title={resume.skills} />
                    <section class="flex">
                        <!-- <Resume.Certificates lang={lang} title={resume.certificates} /> -->
                        <Resume.Languages lang={lang} title={resume.languages} />
                    </section>
                </div>
            </div>
        </Resume>
    </div>
</div>
